@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  
  /* Primary */
--color-green-500: hsl(158, 36%, 37%);
--color-green-700: hsl(158, 42%, 18%);

/* Neutral */
--color-black-neutral: hsl(212, 21%, 14%);
--color-grey-neutral: hsl(228, 12%, 48%);
--color-cream-neutral: hsl(30, 38%, 92%);
--color-white-neutral: hsl(0, 0%, 100%);


--font-fraunces: "Fraunces";
--font-montserrat: "Montserrat";
  /* ... */
}